*{
    margin: 0%;
    padding: 0%;
    box-sizing:border-box;
    font-size: 18px;
}
body{
    background-color: #ec6969;
    }
nav{   
    display: flex; 
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
  
}
ul{
    display: flex;
    padding: .5rem;
}
li{
margin: .5rem;
padding: 0.5rem;
list-style: none;

}

.image{
    object-fit: cover;
    text-align: center;
    padding: 5rem;
}
img{
    height: 50%;
    width: 80%;
    object-fit: cover;
}
div{
    padding: 2rem;
    margin: 1rem;
}
h1{
    margin-bottom: 1rem;
}
h1{
    margin-top: 1rem;
    
}
